
@import '../node_modules/angular-archwizard/archwizard.css';
@font-face {
  font-family: 'sans';
  src: url('./assets/fonts/iransans.woff') format('woff'), url('./assets/fonts/iransans.otf') format('otf');
  font-weight: normal;
  font-style: normal;
  font-variant: normal;
}

@font-face {
  font-family: 'sans_bold';
  src: url('./assets/fonts/IRANSans-Bold-web.woff') format('woff'), url('./assets/fonts/IRANSans-Bold-web.otf') format('otf');
  font-weight: normal;
  font-style: normal;
  font-variant: normal;
}

@font-face {
  font-family: 'sans_light';
  src: url('./assets/fonts/IRANSssansLight.woff') format('woff'), url('./assets/fonts/IRANSssansLight.otf') format('otf');
  font-weight: normal;
  font-style: normal;
  font-variant: normal;
}

@font-face {
  font-family: 'sans_medium';
  src: url('./assets/fonts/IRANSansMedium.woff') format('woff'), url('./assets/fonts/IRANSansMedium.otf') format('otf');
  font-weight: normal;
  font-style: normal;
  font-variant: normal;
}

body,span {
  font-size: .875rem;
  direction: rtl;
  text-align: right;
  font-family: 'sans';
}

label{
  font-size: .775rem;
  direction: rtl;
  text-align: right;
  font-family: 'sans';
}

.accordion > .card .card-header {
background:rgba(206,206,206, .3);
   margin-bottom: 1px;
}


/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey; 
  border-radius: 10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: rgba(206,206,206, .3); 
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgba(206,206,206, .3); 
}

.ngb-dp-day,
.ngb-dp-weekday
.ngb-dp-week .ngb-dp-weekdays {
  width: 100% !important;
  height: 100% !important;
}

.dropdown-menu.show{
    width: 100%  !important;
    position: absolute;
    float: left;
}

.modal-backdrop{
  position: relative;
}

#snackbar {
  visibility: hidden;
  min-width: 250px;
  margin-left: -125px;
  background-color: #333;
  color: #fff;
  text-align: center;
  border-radius: 2px;
  padding: 16px;
  position: fixed;
  z-index: 1;
  left: 50%;
  bottom: 30px;
  font-size: 17px;
}

#snackbar.show {
  visibility: visible;
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

@-webkit-keyframes fadein {
  from {bottom: 0; opacity: 0;} 
  to {bottom: 30px; opacity: 1;}
}

@keyframes fadein {
  from {bottom: 0; opacity: 0;}
  to {bottom: 30px; opacity: 1;}
}

@-webkit-keyframes fadeout {
  from {bottom: 30px; opacity: 1;} 
  to {bottom: 0; opacity: 0;}
}

@keyframes fadeout {
  from {bottom: 30px; opacity: 1;}
  to {bottom: 0; opacity: 0;}
}