<!-- <div class="form-group" dir='ltr'>
  <div class="input-group">
    <input class="form-control" [footerTemplate]="t" (dateSelect)="persianDate = getFaDate();onDateChange()"
      placeholder="yyyy-mm-dd" name="dp" [(ngModel)]="model" ngbDatepicker #d="ngbDatepicker" [firstDayOfWeek]="6">
    <div class="input-group-append">
      <button class="btn btn-raised btn-outline-primary fa fa-calendar" (click)="d.toggle()" type="button"></button>
    </div>
  </div>
</div>
<ng-template #t>
  <button class='btn btn-primary btn-block' (click)="selectToday()">امروز</button>
</ng-template> -->

<div class="form-group"  dir='ltr' *ngIf="mode == 'close' else openCal">
  <!-- <div>
    <span>{{title}}</span>
  </div> -->
  <div class="input-group">
    <input class="form-control col" [footerTemplate]="t" (dateSelect)="persianDate = getFaDate();onDateChange()"
      placeholder="yyyy-mm-dd" name="dp" [(ngModel)]="model" ngbDatepicker #d="ngbDatepicker" [firstDayOfWeek]="6">
    <div class="input-group-append">
      <button class="btn btn-raised btn-outline-primary fa fa-calendar" (click)="d.toggle()" type="button"></button>
    </div>
  </div>
</div> 
<ng-template #openCal>
  <ngb-datepicker  dir='ltr'  [footerTemplate]="t" #dp [(ngModel)]="model" (select)="onDateChange()" [firstDayOfWeek]="6">
  </ngb-datepicker>
</ng-template>

<ng-template #t>
  <button class='btn btn-primary btn-block' (click)="selectToday()">امروز</button>
</ng-template>